<!doctype html>

<title>Tags!</title>

<ul>
    <li><a href='/profile'>Profile</a></li>
    <li><a href='/upload'>Upload a photo</a> </li>
    <li><a href='/logout'>Logout</a></li>
    <li><a href='/'>Home</a></li>
</ul>


<form method='post' action="/photoSearch">
    <input type="text" placeholder="Search Photos by tags" name="photoSearch">
    <button type="submit">Submit</button>
</form>

{% if name %}
<h1>Hello {{ name }}!</h1>
<h2 id="mpb"><button onclick="togglePhotos()">View My Photos</button></h2>
<h2 id="apb" ><button onclick="togglePhotos()">View All Photos</button></h2>
<div id="myP" >
    {% if myPhotos %}
    <h2>Here are your photos with tag {{searched}}</h2>
    <ul>
        {% for photo in myPhotos%}
        <table>
            <tr>
                <td>{{photo[2]}}
                </td>
            </tr>
            <tr>
                <td><img src='data:image/jpg;base64, {{ photo[0] }}' /></td>
                
            </tr>
            <a href='/liked?' + str({{photo[2]}})></a>
            {% endfor %}
        </table>
    </ul>
    {% else %}
    <h2> You don't have any photos with tag '{{searched}}' available</h2>
    {% endif %}
</div>
{% endif %}



{% if photos %}
<div id="allP">
    <h2>Here are all photos with the tag {{searched}}</h2>
    <ul>

    {% for photo in photos %}
        <table>
            <tr>
                <td>{{photo[2]}}
                    <form action="/liked" method="get">
                <input type="hidden" id="photoid" name="photoid" value={{ photo[1] }}>
                <button type="submit">Like</button>
            </form>
                </td>

            </tr>
            <tr>
                <td><img style="max-width: 400px;" src='data:image/jpg;base64, {{ photo[0] }}' />
                </td>
            </tr>
            {% endfor %}
        </table>
    </ul>

    {% else %}
    <h2> No photos with tag '{{searched}}' available for display</h2>
</div>
{% endif %}





<script>
    function togglePhotos() {
        var u = document.getElementById("allP");
        var x = document.getElementById("myP");
        var y = document.getElementById("mpb");
        var z = document.getElementById("apb");

        if (x.style.display === "none") {
            x.style.display = "block";
            u.style.display = "none";
            z.style.display = "block";
            y.style.display = "none";

        } else {
            x.style.display = "none";
            u.style.display = "block";
            z.style.display = "none";
            y.style.display = "block";
        }

    }
</script>